---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #ea9999  !default;
$header-bg-color-secondary: #80ed86  !default;

// Text
$section-headings-color: #991515 !default;

@import "{{ site.theme }}";



/* GLOBAL */
body {
    color: #444;

    /* Nice link transition effect - UVM Standard */
    a:hover, a:active {
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
}

/* Site Header */
header.nav-wrapper {
    .nav {
        max-width: 64rem;
        .logo-link {
            white-space: nowrap;
            
            &:link, &:visited {
                color: $header-bg-color;
            }

            &:hover, &:focus {
                color: $header-bg-color-secondary;
                text-decoration: none;
            }
        }

        .nav-list .list .item {
            .link {
                white-space: nowrap;
                
                &:link, &:visited {
                    color: #fff;
                    text-decoration: none;
                }

                &:hover, &:focus {
                    color: $header-bg-color;
                    text-decoration: none;
                }
            }
        } 
    }
}
@media (max-width: 799px) {
    header .nav-list > .list > .item {
        border-color: rgba(255,255,255,0.2);
    }
}

/* Page content */
.page-header {     
  margin-top: 4.5rem;
  text-align: center;

  .content {
      max-width: 64rem;
      margin: 0 auto;
  }
}

main.main-content {
    /* Links */
    a:link, a:visited {
        color: #2694ff;
        text-decoration: none;
        border-bottom: none; // 1px dashed #444;
    }

    a:hover, a:focus {
        border-bottom: none; // 1px dashed $section-headings-color;
        color: $section-headings-color;
    }

    /* Positioning */
    .pull-left {
        float: left;
        margin-left: 0;
        margin-right: 1rem;
    }

    .pull-right {
        float: right;
        margin-right: 0;
        margin-left: 1rem;
    }

    .clear {
        clear: both;
    }

    /* Horizontal Rule */
    .main-content hr {
        height: 1px;
        margin: 2rem 0;
        background-color: #eff0f1;
    }
}

/* Images */
.picture-frame {
    padding: 3px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Icons */
.icon {
    font-size:2em;
    color:black;
}

.icon:hover {
    transform:scale(1.2);
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}

/* Site Footer */
.site-footer {
    background: #fff;
    margin-top: 1em;
    padding: 0;
    text-align: center;

    .content {
        max-width: 64rem;
        margin: 0 auto;
        padding: 1em 0;
        color: #000;
        font-size: .8rem;
        line-height: 1.3;
        text-align: center;
       

        a:link, a:visited {
            border: 0;
            color: #2694ff;
        }

        a:hover, a:focus {
            color: $section-headings-color;
            border-bottom: none; // 1px dashed #fff;
            text-decoration: none;
        } 
    }
}

